@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap");

:root {
    --main-dark: #35648c;
    --main-med: #6595bf;
    --main-light: #a3c9d9;
    --secondary: #6fa8bf;
    --accent: #f2dc99;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Fira Code", monospace;
    margin: 0;
    padding: 0;
    font-size: 0.9em;
}

h1,
h2 {
    font-weight: bolder;
}

h1 {
    font-size: 1.6rem;
}

h2 {
    font-size: 1.3rem;
}

h1,
h2,
p {
    margin-bottom: 0.75em;
}

/* MOBILE FIRST */

/* 
    Header
*/

.header {
    background-color: var(--main-light);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    height: 8em;
    padding: 0.25em 0 0;
    margin: 0;
    box-shadow: 0px 1px 10px #555;
}

.logo-container {
    margin-top: 1em;
    text-align: center;
}

/* 
    menu
*/

.menu {
    background-color: var(--main-dark);
}

.menu-icon {
    position: absolute;
    top: 1em;
    left: 1em;
}

.menu-header {
    display: none;
}

.menu-header ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menu-header ul li {
    padding: 0.7em 0;
    text-align: center;
}

.menu-header ul li a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: inline-block;
    color: var(--main-light);
}

.menu-header ul li:focus,
.menu-header ul li:hover {
    background-color: var(--secondary);
    color: var(--main-dark);
    cursor: pointer;
}

.menu-header ul .menu-active-item {
    background-color: var(--main-med);
}

.menu-header ul .menu-active-item a {
    color: var(--main-dark);
    font-weight: 700;
}

.menu-header ul li:not(:last-child) {
    border-bottom: 1px var(--accent) solid;
}

/* 
    menu_icon.svg
*/
.bar {
    fill: var(--main-dark);
}

.menu-active .bar {
    fill: var(--main-med);
}

/* 
    footer
*/

.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    box-shadow: 0px -1px 5px #555;
}

.menu-footer {
    text-align: center;
    padding: 0.4em;
}

.menu-footer h3 {
    margin: 0;
}

.menu-footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.menu-footer ul li {
    display: inline-block;
}

.gh a {
    text-decoration: none;
    color: var(--main-light);
}

.gh a p {
    text-align: center;
    margin: 0.5em 1em;
    min-width: 5em;
    font-size: 0.5rem;
}

.gh a img {
    margin: 0 auto;
    display: block;
}

/* 
    Main Content Area
*/

#main {
    margin: 8em 0 1em;
    padding: 1.5em;
    animation: expand-in 2s 1;
}

@keyframes expand-in {
    0% {
        transform: scaleX(0.5);
        opacity: 0.01;
    }

    50% {
        transform: scaleX(1);
    }

    100% {
        opacity: 1;
    }
}

.pic-item {
    text-align: center;
}

.pic-item:not(:last-child) {
    margin-bottom: 5em;
}

.pic-item:first-of-type {
    margin-top: 5em;
}

.pic-pic img {
    max-height: 7em;
}

.pic-pic h2 {
    display: none;
}

.pic-text p {
    text-align: justify;
    line-height: 1.4em;
}

.pic-text img {
    height: 0.9em;
}

@media (max-width: 599px) {
    .menu-header.menu-active {
        display: block;
        position: relative;
        top: 4px;
        border-top: 2px var(--accent) dashed;
        border-bottom: 2px var(--accent) dashed;
    }
}
/* 
    Tablet and Desktop
*/

@media (min-width: 600px) {
    body {
        font-size: 1em;
    }
    #main {
        margin: 8.5em 3em 1em;
        padding: 1.5em 3.5em;
        box-sizing: border-box;
        box-shadow: 0 0 30px var(--main-light);
        min-height: calc(100vh - 9em - 4.5em);
    }

    .header {
        height: 9em;
    }

    .menu-header {
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .menu-header ul {
        text-align: center;
    }

    .menu-header ul li {
        display: inline-block;
        margin: 0;
        padding: 0;
        font-size: 0;
    }

    .menu-header ul li a {
        margin: 0;
        padding: 0.4em 2em;
        font-size: 0.8rem;
    }

    .menu-header ul li:not(:last-child) {
        border-bottom: none;
        border-right: 2px dotted var(--accent);
    }

    .menu-icon {
        display: none;
    }

    /* 
    langauges.html content
    */

    .pic-item {
        display: table;
        box-shadow: 1px 1px 5px var(--main-dark);
        padding: 2em 2em 2em 0;
        margin-top: 2em;
        border-radius: 2em;
    }

    .pic-item:first-of-type {
        margin-top: 2em;
    }

    .pic-item:not(:last-child) {
        margin-bottom: 2em;
    }
    .pic-item:nth-child(2n) {
        direction: rtl;
        padding: 2em 0 2em 2em;
    }

    .pic-item .pic-pic {
        width: 25%;
        height: 100%;
        vertical-align: middle;
    }

    .pic-pic img {
        vertical-align: middle;
        position: relative;
        max-width: 80%;
        max-height: 100%;
    }

    .pic-pic h2 {
        display: block;
        margin-top: 1em;
    }

    .pic-item .pic-text {
        width: 70%;
        direction: ltr;
    }

    .pic-item > * {
        display: table-cell;
    }
}
