<footer class="footer">
    <div class="menu menu-footer">
        <ul>
            <li>
                <div class="gh">
                    <a href="https://github.com/jon-cundiff">
                        <img src="images/GitHub-Mark-32px.png" alt="Github Main">
                        <p>Main</p>
                    </a>
                </div>
            </li>
            <li>
                <div class="gh">
                    <a href="https://github.com/jaysee87">
                        <img src="images/GitHub-Mark-32px.png" alt="Github Main">
                        <p>Hobby/Gaming</p>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</footer>