<header>
    <div class="menu-icon">
        <!-- Inserts SVG icon that can be targeted with stylesheet -->
        <object type="image/svg+xml" data="./images/menu_icon.svg" class="menu-button">
            Menu
        </object>
    </div>
    <div class="logo-container">
        <a href="/"><img src="./images/JCLogo_blue.png" alt="Jon Cundiff: Designer/Developer"></a>
    </div>
    <div class="menu menu-header">
        <ul>
            <li>Home</li>
            <li>About</li>
            <li>Programming Language Goals</li>
            <li>Portfolio</li>
        </ul>
    </div>        
</header>